body {
    margin: 0px;
}

.admin-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 400px) minmax(80%, 1fr);
    grid-template-areas: ". content";
}

.admin-sidebar {
    background-color: darken(white, 2);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: 100vh;
    position: fixed;
    width: 300px;

    h1 {
        text-align: center;
    }

    footer {
        position: absolute;
        bottom: 25px;
        left: 25px;
    }

    button {
        background-color: #526d7a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
}

.admin-main {
    grid-area: content;
}

.admin-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

    .admin-block {
        grid-area: auto;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }