.quote {
	font-family: 'Shadows Into Light', cursive;
	color: #3f3f5a;
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 7rem;
	width: 4rem;
    height: 4rem;
    overflow: hidden;
}

blockquote:before {
	content: '“';
	left: -5rem;
    top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
    bottom: 1rem;
}
